:root {
    --primario: hsl(4, 100%, 38%);
    --secundario: hsl(218, 27%, 94%);
    --hr: hsl(218, 13%, 88%);
    --footer: hsl(0, 0%, 13%);
    --selected-text: hsl(0, 0%, 39%);
    --red-text: hsl(4, 100%, 38%);
}
.h-highlights {
    height: 3rem;
    width: auto;
}

.h-mini {
    height: 1rem;
    width: auto;
}

.bg-primario {
    background-color: var(--primario);
    border-color: var(--primario);;
}

.text-primario {
    color: var(--primario);
}

.primary {
    background-color: var(--primario);
}
.secondary {
    background-color: var(--secundario);
    }